# Graphite config
**/graphite/user_config

# Github config
**/gh/hosts.yml

# Github SSH path in local.config
local.*

# LazyVim lock file
nvim/.config/nvim/lazy-lock.json

# macOS
.DS_Store
zed/.config/zed/**
!zed/.config/zed/settings.json
!fish/.config/fish/config.fish
fish/**
